:root {
  --cell-bg-color: rgba(0, 0, 0, 0.4);
  --cell-opacity: 0.6;
}

table {
  background: url("../images/compressed/red-panda.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  color: white;
  font-weight: bold;
}

table td {
  background-color: var(--cell-bg-color);
  opacity: var(--cell-opacity);
}

table th {
  font-size: 0.85em;
  text-align: center;
}

table td:first-child {
  text-align: left;
}

table td:last-child {
  font-size: 0.75em;
  text-align: right;
}

table td:not(:first-child):not(:last-child) {
  text-align: center;
}
